.team-section {
  padding: 80px 0;
  text-align: center;
  background-color: #f9f9f9;
}

.section-title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.team-member {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 40px; /* Space between team members */
}

.team-member:last-child {
  margin-bottom: 0; /* Remove margin for last team member */
}

.team-member:hover {
  transform: translateY(-10px);
}

.member-info {
  text-align: center;
}

.member-avatar {
  width: 300px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #434547; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-name {
  font-size: 2rem;
  color: #333;
  margin-top: 20px;
}

.member-position {
  font-size: 1.5rem;
  color: #666;
  margin-top: 10px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .team-member {
    width: calc(100% - 40px);
    max-width: 300px;
  }

  .team-container {
    flex-direction: column;
    align-items: center;
  }
}
